.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 40px;
  background: url("../../img/dec/top-right.svg") no-repeat top 40px right 40px;
}

.bicicleta-bg {
  background: linear-gradient(to right, var(--cor-1) 30%, var(--cor-11) 0%);
}

.bicicleta-img {
  position: relative;
}

.bicicleta-img img {
  border-radius: 4px;
}

.bicicleta-img span {
  background-color: var(--cor-12);
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0px 0px 4px;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0px;
}

.bicicleta-textos {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicleta-textos h2 {
  grid-column: -1/1;
  margin-bottom: 20px;
}

.bicicleta-textos p {
  grid-column: -1/1;
  margin-bottom: 32px;
}
.bicicleta-lista li + li {
  margin-top: 16px;
}

.bicicleta a {
  place-self: end;
}

.bicicleta-lista li {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
}

.bicicleta-textos h2::before {
  content: "";
  width: 12px;
  height: 8px;
  background-color: var(--cor-p5);
  display: block;
  margin-bottom: 8px;
}

.bicicleta-lista img {
  width: 24px;
}

@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
  }
  .bicicleta-bg {
    background: var(--cor-11);
  }
}

@media (max-width: 600px) {
  .bicicleta-textos {
    grid-template-columns: 1fr;
  }
  .bicicleta {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bicicleta-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .bicicleta-textos a {
    place-self: start;
    margin-top: 32px;
  }
}
